/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-Feb-2015, 11:27:18
    Author     : Dave Ogle, Andrew Pond
*/
body
{
}

.mainContent
{
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
}

.Wrapper
{
    margin-left: 10%;
    margin-right: 10%;
}

.NavBar
{
    position: relative;
    //margin : 2%;
    //background: blue;
    //padding: 3%;
}

#boxWrapper
{
    list-style: none; 
    overflow: hidden; 
    font: 14px Helvetica, Arial, Sans-Serif;
}

#boxWrapper li
{
    float: left;
}

#boxWrapper li .box
{
    color: white;
    text-decoration: none; 
    padding: 10px 0 10px 40px;
    background: teal;                   /* fallback color */
    background: #77c2ae; 
    position: relative; 
    display: block;
    float: left;
}

#boxWrapper .box:after { 
	content: " "; 
	display: block; 
	width: 0; 
	height: 0;
	border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
	border-bottom: 50px solid transparent;
	border-left: 30px solid #77c2ae;
	position: absolute;
	top: 50%;
	margin-top: -50px; 
	left: 100%;
	z-index: 2; 
}

#boxWrapper li .box:hover { background: #FFCC00; }
#boxWrapper li .box:hover:after { border-left-color: #FFCC00 !important; }


.box h2
{
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: 80%;
    transform: translate(-50%, -50%)
}

.NavButton
{
    width: 100%;
}

.NavButton img
{
    margin: 0px;
    margin-top: 20%;
    position : fixed;
    width : 100px;
    height: 100px;
}

#right
{
    float: right;  
    margin-right: 8%;
}

#left
{
    float: left;
    margin-left: 1%;
}


